.simpsons,.rick{
    width:40vw;
    display: flex;
    border: 1px solid pink;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 150px;
}
h1,p{
    padding: 20px;
}
.box{
    display: flex;
    justify-content: space-evenly;
}
