.simpsons, .rick {
    width: 40vw;
    display: flex;
    border: 1px solid pink;
    margin: 1vw;
    justify-content: space-between;
    align-items: center;
}

.rick {
    flex-wrap: wrap;
}

img {
    width: 5vw;
}

h1, p {
    padding: 0.5vw;
}

h3 {
    margin: 1vw;
}

.box {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.task {
    width: 40vw;
    box-sizing: border-box;
}
